<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<div class="container">
  <table>
    <thead>
      <tr>
        <th *ngFor="let columna of columnas">{{ columna }}</th>
        <!--Columna extra para acciones-->
        <th *ngIf="rol == '1' || rol == '2'">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let elemento of elementos">
        <td *ngFor="let columna of columnas">{{ elemento[columna] }}</td>
        <td>
          <!--Boton para editar-->
          <button class="edit" *ngIf="rol == '1' || rol == '2'" (click)="emitirEditar(elemento.id)"><i class="fa-solid fa-gear"></i></button>
          <!--Boton para eliminar-->
          <button class="delete" *ngIf="rol == '1'" (click)="emitirAviso(elemento.id)"><i class="fa-solid fa-trash"></i></button>
        </td>
      </tr>
      <!-- Fila para añadir elemento -->
      <ng-container *ngIf="(rol_user == '1' || rol_user == '2') && !section_id">
        <tr>
          <td [attr.colspan]="columnas.length + 1">
            <button class="add" (click)="emitirAgregar()"><i class="fa-solid fa-plus"></i></button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>


<app-confirmacion-eliminacion *ngIf="mostrarConfirmacion" (confirmado)="eliminarElemento($event)"></app-confirmacion-eliminacion>
