table {
    width: 100%;
    border-collapse: collapse;
    color: #D9D9D9;
    background-color: #15202B;
}

thead {
    background-color: #192734;
}

th, td {
    padding: 15px;
    border-bottom: 1px solid #2C3E50;
}

th {
    text-align: left;
}

button {
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #477baf;
    cursor: pointer;
}

button:hover {
    background-color: #3e5872;
}