<form [formGroup]="updateForm" (ngSubmit)="update()" class="form-container">
    <div *ngFor="let field of fields" class="form-group">
      <label [for]="field.name" class="form-label">{{ field.label }}</label>
      <input [id]="field.name" [type]="field.type" [formControlName]="field.name" [placeholder]="field.label" class="form-input">
      
      <!-- Mensajes de error -->
      <div *ngIf="updateForm.get(field.name)?.invalid">
        <small class="text-danger" *ngIf="updateForm.get(field.name)?.errors?.['required'] && updateForm.get(field.name)?.touched">
          Este campo es requerido.
        </small>
        <small class="text-danger" *ngIf="updateForm.get(field.name)?.errors?.['minlength']">
            Este campo requiere al menos 8 caracteres.
        </small>
      </div>
    </div>
    <button type="submit" [disabled]="!updateForm.valid" class="btn btn-primary form-button">Submit</button>
    <div class="center">
      <a routerLink="/paises" class="back-button">Return</a>
    </div>
</form>