<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<div class="chat-container">
    <div class="bar"></div>
    <div class="logs" #logsContainer>
        <div class="log" *ngFor="let elemento of elementos">
            <i class="fa-solid fa-angle-right symbol"></i>
                <div class="log2">
                    <p>Usuario: <span class="txtUser">{{elemento['Usuario']}}</span></p>
                    <p>Ruta que uso: <span class="txtRoute">{{elemento['route']}}</span></p>
                    <p>Metodo HTTP: <span class="txtIT">{{elemento['interaction_type']}}</span></p>

                    <p>Que realizo:</p>
                    <div class="Objeto" *ngIf="isObject(elemento['interaction_query']); else notObject">
                        <p>&#123;</p>
                        <p class="objElem" *ngFor="let key of objectKeys(elemento['interaction_query'])">
                            {{key}}: {{elemento['interaction_query'][key]}}
                        </p>
                        <p>&#125;</p>
                    </div>
                    <ng-template #notObject>
                        <div class="Objeto">
                            <p>{{elemento['interaction_query']}}</p>
                        </div>
                    </ng-template>

                    <p>Fecha: {{elemento['interaction_date']}}</p>
                    <p>Hora: {{elemento['interaction_time']}}</p>
                </div>
        </div>
    </div>
    <div class="bar2"></div>

</div>