<div class="login-container">
    
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <h2>Iniciar sesión</h2>
  
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" placeholder="Ingrese su email" formControlName="email">
        <div *ngIf="loginForm.controls.email.errors?.['required'] && loginForm.controls.email.touched" class="error">
            El email es requerido
          </div>
          <div *ngIf="loginForm.controls.email.errors?.['email']" class="error">
            Por favor, ingrese un email válido
          </div>
      </div>
  
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Password" formControlName="password">
        <div *ngIf="loginForm.controls.password.errors?.['required'] && loginForm.controls.password.touched" class="error">
            La contraseña es requerida
          </div>
      </div>
  
      <button *ngIf="!state" type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">Iniciar sesión</button>
      <div *ngIf="loginMessage" [class.message-success]="state" [class.message-error]="!state" class="message">
        {{ loginMessage }}
      </div>
      <div class="verification-container" *ngIf="state">
        <label class="verification-label">Se ha enviado un codigo de verificación a tu correo</label>
        <div class="form-group">
          <label class="verification-code-label">Código de verificación</label>
          <input type="text" id="verificationCode" placeholder="Ingrese su código de verificación" class="verification-input" [formControl]="code" maxlength="6">
          <div *ngIf="code.errors?.['required'] && code.touched" class="error-message">
              El código es requerido
          </div>
          <div *ngIf="code.errors?.['minlength']" class="error-message">
            El código debe tener 6 caracteres
        </div>
        </div>
        <div *ngIf="authMessage" [class.message-success]="activate" [class.message-error]="!activate" class="message">
          {{ authMessage }}
        </div>
      </div>
      <button *ngIf="state" [disabled]="!code.valid" class="btn btn-primary" (click)="verifyCode($event)" style="margin-top: 20px;">Verificar</button>
      <p>No tienes una cuenta? <a routerLink="/register">Crea una</a></p>
    </form>
    
  </div>
