/* home.component.css */

.container {
  display: flex;
  flex-direction: row; /* Cambia la dirección de la distribución a vertical */
  height: 100vh; /* El 100% de la altura de la ventana */
  width: 100%; /* El 100% del ancho de la ventana */
}

.dashboard-container2 {
  height: 100%; /* Establece la altura automática para que se ajuste al contenido */
}

.menu-container {
  width: 100%;
  flex-grow: 1; /* Permite que este contenedor crezca para ocupar el espacio restante */
}
