.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    max-width: 100%; /* Ancho máximo de la tabla */
    overflow-x: auto; /* Permitir el desplazamiento horizontal */
}

table {
    max-height: 50px;
    width: 100%;
    border-collapse: collapse;
    color: #D9D9D9;
    background-color: #15202B;
    overflow-y: auto; /* Permitir el desplazamiento vertical */
}

thead {
    background-color: #192734;
}

th, td {
    padding: 15px;
    border-bottom: 1px solid #2C3E50;
    text-align: center;
    vertical-align: middle;
}

th {
    text-align: center;
}

button {
    height: 30px;
    width: 30px;
    font-size: 17px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 6px;
    color: #FFFFFF;
    background-color: #777777;
    cursor: pointer;
    transition: all 0.3s ease; /* Añadir una transición suave */

}

button:hover {
    transform: scale(1.1); /* Escalar el botón al pasar el cursor encima */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Añadir una sombra debajo del botón */
}

.edit{
    margin-right: 5px;
}
.delete{
    margin-left: 5px;
    
}

.edit:hover {
    background-color: #72703e;
}
.delete:hover {
    background-color: #723e3e;
}
.add:hover {
    background-color: #3e723e;
}