<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<div class="dashboard-container">
    <a routerLink="/paises" ><i class="fa-solid fa-earth-americas symbol"></i>Paises</a>
    <a routerLink="/regiones" ><i class="fa-solid fa-mountain symbol"></i>Regiones</a>
    <a routerLink="/ciudades" ><i class="fa-solid fa-city symbol"></i>Ciudades</a>
    <a routerLink="/distritos" ><i class="fa-solid fa-location-dot symbol"></i>Distritos</a>
    <a routerLink="/barrios" ><i class="fa-solid fa-arrow-right-to-city symbol"></i>Barrios</a>
    <a routerLink="/calles" ><i class="fa-solid fa-signs-post symbol"></i>Calles</a>
    <a routerLink="/edificios" ><i class="fa-solid fa-building symbol"></i>Edificios</a>
    <a routerLink="/apartamentos" ><i class="fa-solid fa-building-circle-check symbol"></i>Apartamentos</a>
    <a routerLink="/contrato-alquiler" ><i class="fa-solid fa-file-signature symbol"></i>Contratos</a>
    <a routerLink="/inquilinos" ><i class="fa-solid fa-building-user symbol"></i>Inquilinos</a>

    <a routerLink="/home"><i class="fa-solid fa-house-chimney symbol"></i>Home </a>



    <button class="logout" (click)="logout()"><i class="fa-solid fa-arrow-right-from-bracket"></i></button>    

</div>