<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <div class="dashboard-container">
    <a routerLink="/home"><i class="fa-solid fa-house-chimney symbol"></i>Home </a>
    <a routerLink="/paises" ><i class="fa-solid fa-earth-americas"></i>Paises</a>
    <a routerLink="/regiones" ><i class="fa-solid fa-mountain"></i>Regiones</a>
    <a routerLink="/ciudades" ><i class="fa-solid fa-city"></i>Ciudades</a>
    <a routerLink="/distritos" ><i class="fa-solid fa-location-dot"></i>Distritos</a>
    <a routerLink="/barrios" ><i class="fa-solid fa-arrow-right-to-city"></i>Barrios</a>
    <a routerLink="/calles" ><i class="fa-solid fa-signs-post"></i>Calles</a>
    <a routerLink="/edificios" ><i class="fa-solid fa-building"></i>Edificios</a>
    <a routerLink="/apartamentos" ><i class="fa-solid fa-building-circle-check"></i>Apartamentos</a>
    <a routerLink="/contrato-alquiler" ><i class="fa-solid fa-file-signature"></i>Contratos</a>
    <a routerLink="/inquilinos" ><i class="fa-solid fa-building-user"></i>Inquilinos</a>


    <button class="logout" (click)="logout()"><i class="fa-solid fa-arrow-right-from-bracket"></i></button>    

    </div>