<div class="login-container">
    
    <form [formGroup]="inquilinoForm" (ngSubmit)="create()" class="form-container">
      <h2 class="form-title">Crear inquilino</h2>
  
      <div class="form-group">
        <label for="Nombre" class="form-label">Nombre del inquilino</label>
        <input type="text" id="Nombre" placeholder="Ingrese el nombre del inquilino" formControlName="Nombre" class="form-input">
        <div *ngIf="inquilinoForm.controls.Nombre.errors?.['required'] && inquilinoForm.controls.Nombre.touched" class="text-danger">
            El nombre es requerido
        </div>
        <div *ngIf="inquilinoForm.controls.Nombre.errors?.['maxlength']" class="text-danger">
            El nombre debe tener máximo 50 caracteres
        </div>
      </div>
  
      <div class="form-group">
        <label for="Apellido" class="form-label">Apellido</label>
        <input type="text" id="Apellido" placeholder="Ingrese el apellido" formControlName="Apellido" class="form-input">
        <div *ngIf="inquilinoForm.controls.Apellido.errors?.['required'] && inquilinoForm.controls.Apellido.touched" class="text-danger">
            El apellido es requerido
        </div>
        <div *ngIf="inquilinoForm.controls.Apellido.errors?.['maxlength']" class="error">
            El apellido debe tener máximo 50 caracteres
        </div>
      </div>

      <div class="form-group">
        <label for="Telefono" class="form-label">Telefono</label>
        <input type="text" id="Telefono" placeholder="Ingrese el telefono" formControlName="Telefono" class="form-input">
        <div *ngIf="inquilinoForm.controls.Telefono.errors?.['required'] && inquilinoForm.controls.Telefono.touched" class="text-danger">
            El telefono es requerido
        </div>
        <div *ngIf="inquilinoForm.controls.Telefono.errors?.['maxlength']" class="text-danger">
            El telefono debe tener máximo 10 caracteres
        </div>
      </div>

      <div class="form-group">
        <label for="Email" class="form-label">Email</label>
        <input type="text" id="Email" placeholder="Ingrese el email" formControlName="Email" class="form-input">
        <div *ngIf="inquilinoForm.controls.Email.errors?.['required'] && inquilinoForm.controls.Email.touched" class="text-danger">
            El email es requerido
        </div>
        <div *ngIf="inquilinoForm.controls.Email.errors?.['maxlength']" class="text-danger">
            El email debe tener máximo 15 caracteres
        </div>
        <div *ngIf="inquilinoForm.controls.Email.errors?.['email']" class="text-danger">
            El email debe ser un email válido
        </div>
      </div>

      <div class="form-group">
        <label for="Cedula" class="form-label">Cedula</label>
        <input maxlength="13" type="text" id="Cedula" placeholder="Ingrese la cedula del inquilino" formControlName="Cedula" class="form-input">
        <div *ngIf="inquilinoForm.controls.Cedula.errors?.['required'] && inquilinoForm.controls.Cedula.touched" class="text-danger">
            La cedula es requerida
        </div>
        <div *ngIf="inquilinoForm.controls.Cedula.errors?.['minlength']" class="text-danger">
            La cedula debe tener 13 caracteres
        </div>
        <div *ngIf="inquilinoForm.controls.Cedula.errors?.['pattern']" class="text-danger">
          La cedula debe contener solo números
        </div>
      </div>
  
      <button type="submit" [disabled]="!inquilinoForm.valid" class="btn btn-primary form-button">Crear inquilino</button>
      <div class="center">
        <a routerLink="/inquilinos" class="back-button">Return</a>
      </div>
    </form>
    
</div>