<div class="login-container">
    
    <form [formGroup]="calleForm" (ngSubmit)="update()" class="form-container">
      <h2 class="form-title">Actualizar calle</h2>
  
      <div class="form-group">
        <label for="Nombre" class="form-label">Nombre de la calle</label>
        <input type="text" id="Nombre" placeholder="Ingrese el nombre de la calle" formControlName="Nombre" class="form-input">
        <div *ngIf="calleForm.controls.Nombre.errors?.['required'] && calleForm.controls.Nombre.touched" class="error">
            La calle es requerida
        </div>
        <div *ngIf="calleForm.controls.Nombre.errors?.['minlength']" class="error">
            La calle debe tener al menos 3 caracteres
        </div>
      </div>
  
      <div class="form-group">
        <label for="BarrioID" class="form-label">Barrio</label>
        <select id="BarrioID" formControlName="BarrioID" class="form-input">
            <option *ngFor="let barrio of barrios" [value]="barrio.id">{{barrio.Nombre}}</option>
        </select>
        <div *ngIf="calleForm.controls.BarrioID.errors?.['required'] && calleForm.controls.BarrioID.touched" class="error">
            El barrio es requerido
        </div>
    </div>
  
      <button type="submit" [disabled]="!calleForm.valid" class="btn btn-primary form-button">Actualizar calle</button>
    </form>
    
</div>


